noht

/*Input the string “Python” as a list of characters from console, delete at least 2 characters, reverse the
resultant string and print it.*/

In [40]:
x = list("Python")
del x[:2]
x.reverse()
reversed_string = ''.join(x)
print(reversed_string)

noht

Write a program that accepts a sentence and replace each occurrence of ‘python’ with ‘pythons’.

In [37]:
x="i love learning python"
y=x.replace('python','pythons')
print(y)

i love learning pythons

Take two numbers from user and perform at least 4 arithmetic operations on them.

In [7]:
x=float(input('Enter the input 1 '))
y=float(input('Enter the input 2 '))
add=x+y
subt=x - y
mul=x*y
div=x/y
exp=x**y
mod=x%y
z= x//y

print(add)
print(subt)
print(mul)
print(div)
print(exp)
print(mod)
print(z)

Enter the input 1 20
Enter the input 2 5
25.0
15.0
100.0
4.0
3200000.0
0.0
4.0

Use the if statement conditions to write a program to print the letter grade based on an input classscore. Use the
grading scheme we are using in this class.

In [38]:
score=float(input("Enter the Score  "))
if score >= 90:
   grade='A'
elif score >= 80:
  grade = 'B'
elif score >= 70:
  grade = 'C'
print(grade)

Enter the Score  80
B